body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F5F6;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Montserrat', sans-serif
}

.navbar {
    border: none; 
}

.navbar-toggler {
    border-color: transparent; 
}

.hero {
    padding: 40px;
    background-color: #F8FAFA;
    color: #393E46;
}

.cta-button {
    padding: 10px 20px;
    background-color: #6FC4D8;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.featured-products h2 {
    margin-bottom: 20px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.card {
    border: none;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    color: #FFFFFF;
    background-color: #6FC4D8;
    padding: 20px;
}

.logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}